* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
  }
  #hero-top {
    padding: 20px;
    margin-top: -100px;
    margin-bottom: -100px;
    background-color: white;
    display: flex;
    justify-content: space-evenly; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}
#B-logo img {
    max-width: 250px;
}
#herotop-text {
    color: rgb(38, 50, 70);
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
#join-button {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 51px;
    letter-spacing: 2px;
    border: 0;
    border-radius: 2px;
    background-color: #5768AD;
    color: white;
    width: 150px;
}
#hero {
  background-image: url(../assets/images/Bfithero.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh; /* Adjusted height to cover the full viewport */
  position: relative;
  display: flex; 
  justify-content: space-evenly;
 padding: 20px; 
  box-sizing: border-box; 
}

#hero-content {
  display: flex; /* Added to create flex container for both divs */
  flex-direction: row;
  align-items:flex-start ; /* Align both divs vertically */
  justify-content: space-between;
  gap: 400px;
}

#nav-links span {
  margin-right: 40px; /* Adjusted spacing between links */
}

#nav-links span a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid transparent; /* Initial transparent underline */
  transition: border-color 0.3s; /* Smooth transition for underline */
}

#nav-links span a:hover {
  border-color: white; /* White underline on hover */
  border-bottom-width: 2px;
}

#social-icons a {
  margin-left: 20px; /* Adjusted spacing between icons */
  color: white; /* Set icon color */
}
#welcome {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 500px; */
}
#welcome img {
  width: 150px;
  margin-bottom: -80px;
  padding-top: 80px;
}
#welcome-text {
  max-width: 450px;
}
#p-one {
  color: rgb(38, 50, 70);
font-family: "DM Sans", sans-serif;
font-size: 44px;
font-weight: 400;
}
.p-two {
  color: rgb(110, 117, 128);
display: block;
font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: 400;
/* height: 129.95px; */
line-height: 26px;
}
#about-button {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 51px;
  letter-spacing: 2px;
  border: 0;
  border-radius: 2px;
  background-color: #5768AD;
  color: white;
  width: 200px;
}
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 500px;
    /* width: 50vw; */
    background-color: white;
    /* padding-top: 100px; */
    /* margin-left: 200px; */
  }
  .grid-one {
    grid-row: 1 / 4;
  }
  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid-two {
    /* grid-column: 2 / 3; */
  }
  #aspect {
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  #aspects {
    background-color: #F8F8F8;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    /* padding-bottom: 50px; */
  }
  .aspectdiv {
    padding-top: 50px;
    background-color: white;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    margin-left: -10px;
  }
  .p-three {
    color: rgb(38, 50, 70);
    display: block;
    font-family: "DM Sans", sans-serif;
font-size: 20px;
font-weight: 400;
height: 24px;
line-height: 24px;
margin-block-end: 12px;
margin-block-start: 35px;
margin-bottom: 12px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 35px;
text-align: center;
  }
  .p-four {
   color: rgb(110, 117, 128);
    display: block;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  }
#sub-header img {
  width: 150px;
  margin-bottom: -25px;
}
#sub-header {
  display: flex;
  text-align: center;
  flex-direction: column;
}
#p-one1 {
  color: rgb(38, 50, 70);
font-family: "DM Sans", sans-serif;
font-size: 44px;
font-weight: 400;
padding-bottom: 15px;
}
form {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
#mbutton {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 51px;
  letter-spacing: 2px;
  border: 0;
  border-radius: 2px;
  color: #5768AD;
  background-color: white;
  width: 150px;
}
/* .form-item input placeholder {
  color: white;
} */
#appointment {
  /* background-color: white; */
  background: linear-gradient(#ffffff 50%, #F5F6FA 50%);
  width: 100vw;
  height: 100vh;
  padding: 50px;
  /* margin: 50px; */
  position: relative; 
  /* width: 100%;
  height: 100%; */
}
#appointments {
  background-color: #5768AD;
  /* width: 75%;
  height: 75%; */
  position: absolute; /* Set the div to absolute positioning */
  top: 50%; /* Move the div 50% from the top of its parent */
  left: 50%; /* Move the div 50% from the left of its parent */
  transform: translate(-50%, -50%); /* Adjust the div's position to center it perfectly */
  padding: 20px;
  width: 80%; 
  /* height: 90%; */
  /* margin: 0 auto; */
}
#appointments img {
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 50px;
  height: auto;
}
#p-one2 {
  color: white;
font-family: "DM Sans", sans-serif;
font-size: 44px;
font-weight: 400;
padding-bottom: 15px;
}
#appointments #input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
    width: 85%; /* Adjust the width as needed */
}

label {
  color: white;
}
::placeholder {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  text-align:justify;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  background-color: #7986BD;
  color: white;
  border: none;
  padding: 8px;
  width: calc(100% - 16px); /* Adjust width to account for padding */
  box-sizing: border-box;
}

textarea {
  height: 100%; /* Ensure the textarea fills its parent's height */
  resize: none; /* Prevent resizing of the textarea */
}
#input-grid input, #input-grid select {
  width: 100%; /* Make inputs and select fill the entire column */
  /* height: 30px; */
  font-size: 16px; /* Set a consistent font size */
  padding: 15px; /* Adjust this value to increase/decrease padding */
  box-sizing: border-box; /* Ensure padding is included in width */
  /* margin-bottom: 10px; */
}
input:focus {
  outline: none; /* Remove default focus outline */
  border-color: transparent; /* Set border color to transparent on focus */
  box-shadow: none; /* Optionally remove box shadow */
}
select:focus {
  outline: none; /* Remove default focus outline */
  border-color: transparent; /* Set border color to transparent on focus */
  box-shadow: none; /* Optionally remove box shadow */
}
textarea:focus {
  outline: none; /* Remove default focus outline */
  border-color: transparent; /* Set border color to transparent on focus */
  box-shadow: none; /* Optionally remove box shadow */
}
 /* select { */
  /* Adjust padding to accommodate arrow */
  /* padding-right: 30px; */
  /* Adjust appearance for consistency across browsers */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
/* }  */
#input-grid textarea {
  width: 100%;
  font-size: 16px;
}
.mbutton {
  background-color: #7986BD;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  justify-self: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px; /* Add some spacing between form items */
  width: 100%;
}
#message {
  grid-column: span 2;
  margin-bottom: 25px;
}
#slider {
  /* height: 80vh; */
  /* width: 100vw; */
  background-color: #F5F6FA;
}
#footer {
  height: 60vh;
  width: 100vw;
  background-color: #263246;
}
/* Swiper Styles */
.swiper {
  /* width: 100%; */
  /* height: 100%; */
  height: 500px;
}

.swiper-slide {
  background: #F5F6FA;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}
.swiper-slide i {
  color: #5768AD;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}